<p style="color: green"><%= notice %></p>

<%= render @shoutout %>

<div class:"show-btns">
  <%= link_to "Edit", edit_shoutout_path(@shoutout), class:"edit-btn" %> |
  <%= link_to "Back", shoutouts_path, class:"back-btn" %>

  <%= button_to "Delete", @shoutout, method: :delete , class:"delete-btn" %>
</div>
